<div class="card-infos" id="card-infos-map">
  <%= link_to content_tag(:span), kot_path(kot) %>
  <p><%= kot.addresse %></p>
  <p><%= kot.type_kot %> ○ <%= kot.quartier %> ○ <%= kot.price %> €</p>
</div>

