<div id='sign-up-form'>
<h2>Modifie ton kot!</h2>
  <% if user_signed_in? %>
    <form class="simple_form edit_kot" id="edit_kot_<%= @kot.id %>" novalidate="novalidate" enctype="multipart/form-data" action="/kots/<%= @kot.id %>" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-inputs">
        <div class="label">
          <label class="string optional" for="kot_adresse">Adresse</label>
        </div>
        <div class="field">
          <input placeholder="Rue de la Citronnelle 07/000 - 1348 Louvain-la-Neuve" value="<%= @kot.addresse %>" class="connection-input" type="text" name="kot[addresse]" id="kot_addresse">
        </div>
        <div class="label">
          <label class="string optional" for="kot_quartier_">Quartier</label>
        </div>
        <div class="field">
          <input value="<%= @kot.quartier %>" list="quartiers" class="connection-input" type="text" name="kot[quartier]" id="kot_quartier">
          <datalist id="quartiers">
            <option value="Biéreau">
            </option><option value="Lauzelle">
            </option><option value="Hocaille">
            </option><option value="Centre">
            </option><option value="Bruyères">
          </option></datalist>
        </div>
        <div class="label">
          <label class="string optional" for="kot_type_kot">Type de logement</label>
        </div>
        <div class="field">
          <input list="types" value="<%= @kot.type_kot %>" class="connection-input" type="text" name="kot[type_kot]" id="kot_type_kot">
          <datalist id="types">
            <option value="Kot UCL">
            </option><option value="Kot privé">
            </option><option value="Studio">
            </option><option value="Appartement">
          </option></datalist>
        </div>
        <div class="label">
          <label class="integer optional" for="kot_nombre_chambres">Nombre de personnes dans la colocation</label>
        </div>
        <div class="field">
          <input value="<%= @kot.nombre_chambres %>" class="connection-input" type="number" name="kot[nombre_chambres]" id="kot_nombre_chambres">
        </div>
        <div class="label">
          <label class="integer optional" for="kot_price">Loyer charges incluses</label>
        </div>
        <div class="field">
          <input value="<%= @kot.price %>" class="connection-input" type="number" name="kot[price]" id="kot_price">
        </div>
        <div class="label">
          <label class="string optional" for="kot_recovery_date">Disponible le</label>
        </div>
        <div class="field">
          <input value="<%= @kot.recovery_date %>" class="connection-input" type="text" name="kot[recovery_date]" id="kot_recovery_date">
        </div>
        <div class="label">
          <label class="string optional" for="kot_propriétaire">Propriétaire</label>
        </div>
        <div class="field">
          <input value="<%= @kot.agence %>" class="connection-input" type="text" name="kot[agence]" id="kot_agence">
        </div>
        <div class="label">
          <label class="string optional" for="kot_email">Email</label>
        </div>
        <div class="field">
          <input value="<%= @kot.email %>" class="connection-input" type="text" name="kot[email]" id="kot_email">
        </div>
        <div class="label">
          <label class="string optional" for="kot_phone">Téléphonne</label>
        </div>
        <div class="field">
          <input value="<%= @kot.phone %>" class="connection-input" type="text" name="kot[phone]" id="kot_phone">
        </div>

        <legend class="col-form-label pt-0">Disponible</legend>
        <fieldset class="form-group radio_buttons optional kot_disponible">
          <input type="hidden" name="kot[disponible]" value="">
          <div class="radio-buttons">
            <div class="form-check">
              <input class="form-check-input radio_buttons optional" type="radio" value="true" name="kot[disponible]" id="kot_disponible_true">
              <label class="form-check-label collection_radio_buttons" for="kot_disponible_true">Oui</label>
            </div>
            <div class="form-check">
              <input class="form-check-input radio_buttons optional" readonly="readonly" type="radio" value="false" name="kot[disponible]" id="kot_disponible_false">
              <label class="form-check-label collection_radio_buttons" for="kot_disponible_false">Non</label>
            </div>
          </div>
        </fieldset>

        <div class="label">
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos photo-input"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos photo-input"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos photo-input"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos photo-input"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="form-actions">
          <input type="submit" name="commit" value="Ajouter" class="btn ajouter" data-disable-with="Ajouter">
        </div>
      </div>
    </form>
  <% else %>
    <p>Vous devez être connecté pour modifier un kot</p>
    <%= link_to "Se connecter", new_user_session_path, class: "active" %>
  <% end %>
</div>
