<div id='sign-up-form'>
<h2>Modifie ton kot!</h2>
  <% if user_signed_in? %>
    <%= simple_form_for(@kot) do |f| %>
    <div class="form-inputs">
        <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="label">
        <%= f.label :adresse %>
      </div>
      <div class="field">
        <%= f.text_field :addresse, placeholder: 'Rue de la Ramée, 14/001, 1348 - Louvain-la-Neuve', class: 'connection-input' %>
      </div>
      <div class="label">
        <%= f.label :type_kot %>
      </div>
      <div class="field">
        <%= f.text_field :type_kot, list: 'types', class: 'connection-input' %>
        <datalist id="types">
          <option value="Kot UCL">
          <option value="Kot privé">
          <option value="Studio">
          <option value="Appartement">
        </datalist>
      </div>
      <div class="label">
        <%= f.label :quartier_ %>
      </div>
      <div class="field">
        <%= f.text_field :quartier, list: 'quartiers', class: 'connection-input' %>
        <datalist id="quartiers">
          <option value="Biéreau">
          <option value="Lauzelle">
          <option value="Hocaille">
          <option value="Centre">
          <option value="Bruyères">
        </datalist>
      </div>
      <div class="label">
        <%= f.label :nombre_de_chambres %>
      </div>
      <div class="field">
        <%= f.number_field :nombre_chambres, class: 'connection-input' %>
      </div>
      <div class="label">
        <%# f.label :photos %>
      </div>
      <div class="field">
        <%= f.input :photos, as: :file, input_html: { multiple: true }, class: 'photo-input' %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Modifier", class: "ajouter" %>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>Vous devez être connecté pour ajouter un kot</p>
    <%= link_to "Se connecter", new_user_session_path, class: "active" %>
  <% end %>
</div>
