<div class="banner">
  <div class="parent">
    <div>
    <img class="logo"src="logo_rond.png" alt="logo kotvid">
    </div>
    <div class="banner-titre">
      <h1>VISITE TON KOT</h1>
    </div>

    <div class="banner-sous-titre">
      <h2>Malgré le confinement</h2>
    </div>

    <div class="banner-bouton">
      <h3>Tu veux rendre serice à la communauté ? <%= link_to "Ajoute ton kot", new_kot_path, class: 'btn_link' %></h3>
    </div>

  


    <div class="searchbar">
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :location, params[:location], placeholder: '   Rue de la Citronnelle 07/000 - 1348 Louvain-la-Neuve', class: 'recherche' %>
          <%= submit_tag "🔍 Rechercher", class: 'btn-ghost none' %>
        <% end %>
    </div>
  </div>
</div>


<div class="container_list">
  <table>
  	<tr>
      <td class="tdkot gras">Quartier</td>
      <td class="tdkot gras">Adresse</td>
  		<td class="tdkot gras none">Type de logement</td>
      <td class="tdkot gras none">Nb chambres</td>
  		<td class="tdkot gras">En savoir plus</td>
    	</tr>
    <% @kots.each do |kot| %>

    	<tr>
        <td class="tdkot"><%= kot.quartier %></td>
        <td class="tdkot"><%= kot.addresse.capitalize %></td>
    		<td class="tdkot none"><%= kot.type_kot %></td>
        <td class="tdkot none"><%= kot.nombre_chambres %></td>
        <td class="tdkot"><%= link_to "Détails", kot_path(kot) %></td>
    	</tr>
    <% end %>
  </table>
</div>







