


<%# simple_form_for :search, url: kots_path, method: "GET" do |f| %>
<%# f.text_field :input_addresse, placeholder: 'Addresse' %>
<%# f.submit "Search" %>
<%# end %>

<%= form_tag kots_path, method: :get do %>
  <%= label :location, "Search classifieds near : " %>
  <%= text_field_tag :location, params[:location] %>

  <%= label :distance, "Distance : " %>
  <%= text_field_tag :distance, params[:distance] %>

  <%= submit_tag "Search" %>
<% end %>

<div class="liste_kot">
  <table class="liste_kot">
  	<tr>

      <td class="tdkot">Quartier</td>
  		<td class="tdkot">Adresse</td>
      <td class="tdkot">Nombre de chambre dans le communautaire</td>
  		<td class="tdkot">En savoir plus</td>
  		
    	</tr>
    <% @kots.each do |kot| %>
    	<tr>
        <td class="tdkot">Ici c'est les grands du quartier</td>
    		<td class="tdkot"><%= kot.addresse %></td>
        <td class="tdkot">ici nombre</td>
      	<td class="tdkot"><%= link_to "Détails", kot_path(kot) %></td>
      	
    	</tr>
    <% end %>
  </table>
</div>

<h2>Tu veux rendre serice à la communauté ? <%= link_to "Ajoutes ton kot", new_kot_path %></h2>


