


<%# simple_form_for :search, url: kots_path, method: "GET" do |f| %>
<%# f.text_field :input_addresse, placeholder: 'Addresse' %>
<%# f.submit "Search" %>
<%# end %>

<td class="cadre taille">
<%= form_tag kots_path, method: :get do %>
  <%= label :location, "Chercher un kot proche de: " %>
  <%= text_field_tag :location, params[:location] %>

  <%# label :distance, "Distance : " %>
  <%# text_field_tag :distance, params[:distance] %>

  <%= submit_tag "Go" %>
<% end %>
</td>

<div class="tab_kot">
  <table class="liste_kot">
  	<tr class="taille">

      <td class="tdkot">Quartier</td>
      <td class="tdkot">Adresse</td>
  		<td class="tdkot">Type de logement</td>
      <td class="tdkot">Nb chambres</td>
  		<td class="tdkot">En savoir plus</td>

    	</tr>
    <% @kots.each do |kot| %>

    	<tr class="taille">
        <td class="tdkot"><%= kot.quartier %></td>
        <td class="tdkot"><%= kot.addresse %></td>
    		<td class="tdkot"><%= kot.type %></td>
        <td class="tdkot"><%= kot.nombre_chambres %></td>
        <td class="tdkot"><%= link_to "Détails", kot_path(kot) %></td>
    	</tr>
    <% end %>
  </table>
</div>

<h2>Tu veux rendre serice à la communauté ? <%= link_to "Ajoutes ton kot", new_kot_path %></h2>


