<% unless user_signed_in? %>
  <%= link_to "Se connecter", new_user_session_path, class: "connection-button" %>
<% end %>
<div class="white-background">
<div class="photo-banner">
  <div class="banner-top">
  </div>
  <div class="banner-middle">
    <img class="logo"src="logo_banner.png" alt="logo kotvid">
  </div>
  <div class="banner-middle">
    <p>Trouve ton logement étudiant</p>
  </div>
  <div class="banner-bottom">
  </div>
  <div class="banner-bottom">
  </div>
  <div class="banner-bottom">
  </div>
</div>
<div class="index-container" id="recherche">
  <div class="navbar-filtre-map">
    <div class="banner-bottom">
      <p><%= link_to "Publier", new_kot_path %></p>
      <div></div>
      <a href="#recherche"><p>Rechercher</p></a>
      <div></div>
      <p><%= link_to "A propos", root_path %></p>
    </div>

    <div class="filter-box">
      <form novalidate="novalidate" action="#recherche" accept-charset="UTF-8" method="get">
        <div class="filter-box-top">
          <select placeholder="Type de kot" name="search[type_kot_search]">
            <option value="" disabled selected>Type de logement</option>
            <option value="Colocation">Colocation</option>
            <option value="Studio">Studio</option>
            <option value="Appartement">Appartement</option>
          </select>
          <button type="button" onclick="showFilters()">Prix</button>
          <select name="search[quartier_search]" id="search_quartier_search">
            <option value="" disabled selected>Quartier</option>
            <option value="Biéreau">Biéreau</option>
            <option value="Lauzelle">Lauzelle</option>
            <option value="Hocaille">Hocaille</option>
            <option value="Centre">Centre</option>
            <option value="Bruyères">Bruyères</option>
          </select>
        </div>
        <div class="filter-box-top"  id="additional-filters" style="display: none;">
          <select name="search[price_low]">
            <option value="0" disabled selected>Prix Min</option>
            <option value="250">250 €</option>
            <option value="300">300 €</option>
            <option value="350">350 €</option>
            <option value="400">400 €</option>
            <option value="450">450 €</option>
            <option value="500">500 €</option>
          </select>
          <select name="search[price_high]">
            <option value="1000" disabled selected>Prix Max</option>
            <option value="700">700 €</option>
            <option value="650">650 €</option>
            <option value="600">600 €</option>
            <option value="550">550 €</option>
            <option value="500">500 €</option>
            <option value="450">450 €</option>
            <option value="400">400 €</option>
            <option value="350">350 €</option>
          </select>
          <!-- <select name="search[quartier_search]" id="search_quartier_search">
            <option value="" disabled selected>Quartier</option>
            <option value="Biéreau">Biéreau</option>
            <option value="Lauzelle">Lauzelle</option>
            <option value="Hocaille">Hocaille</option>
            <option value="Centre">Centre</option>
            <option value="Bruyères">Bruyères</option>
          </select>
          <select name="search[nombre_chambres]" id="search_chambres_search">
            <option value="" disabled selected>Nb places libres</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select> -->
        </div>
        <div class="filter-box-middle">
          <input placeholder="Adresse complète" type="text" name="search[location_search]">
        </div>
        <div class="filter-box-bottom">
          <input type="submit" name="commit" value="🔍 Rechercher" data-disable-with="🔍 Rechercher">
        </div>
      </form>
    </div>
    <!-- <div id="map-photo" onclick="showMap()">
    </div> -->
    <div id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>



    <!-- <div class="filter-bo">
      <div class="searchbar">
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
          <div class="search-index">
            <div class="search-index-haut">
              <select placeholder="Quartier" name="search[quartier_search]" id="search_quartier_search">
                  <option value="" disabled selected>Quartier</option>
                  <option value="Biéreau">Biéreau</option>
                  <option value="Lauzelle">Lauzelle</option>
                  <option value="Hocaille">Hocaille</option>
                  <option value="Centre">Centre</option>
                  <option value="Bruyères">Bruyères</option>
                  <option value="NC">NC</option>
              </select>

              <select placeholder="Type de kot" name="search[type_kot_search]" id="search_type_kot_search">
                  <option value="" disabled selected>Type de logement</option>
                  <option value="Kot UCL">Kot UCL</option>
                  <option value="Kot privé">Kot privé</option>
                  <option value="Appartement">Appartement</option>
                  <option value="Studio">Studio</option>
              </select>
              </div>
              <div class="search-index-haut">
                <span class="multi-range">
                    <input type="range" min="0" max="700" value="0" id="lower" name="search[price_low]">
                    <input type="range" min="0" max="700" value="700" id="upper" name="search[price_high]">
                </span>
              <input placeholder="Nombre de personnes" type="number" name="search[nombre_chambres]" id="search_nombre_chambres_search">
              </div>
              <div class="search-index-milieu">
                <input placeholder="Adresse complète" type="text" name="search[location_search]" id="search_location_search">
              </div>
              <div class="search-index-bas">
                <input type="submit" name="commit" class="btn-ghost none" value="🔍 Rechercher" data-disable-with="🔍 Rechercher">
              </div>
          </div>
        </form>
      </div> -->
      <!-- <div id="map" style="width: 100%; height: 50vh;
      " data-markers="<%# @markers.to_json %>"
       data-mapbox-api-key="<%# ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div> -->
  <div class="card-container">
      <% @kots.each_with_index do |kot, index| %>
        <div class="card">


          <div class="card-pictures" id="<%= index %>" data-index="1">
            <div class="slideshow-container">
                <% kot.photos.each_with_index do |photo, index| %>
                  <div class="mySlides" id="slides" style="background-image: url(http://res.cloudinary.com/daykp5f46/image/upload/<%= photo.key %>);">
                    <div class="prix">
                      <div></div>
                      <div class="prix-bas">
                        <p><%= kot.price %> €</p>
                      </div>
                    </div>
                  </div>
                <% end %>
              <a class="prev" onclick="showSlides(-1, <%= index %>)">&#10094;</a>
              <a class="next" onclick="showSlides(1, <%= index %>)">&#10095;</a>
            </div>
          </div>


          <div class="card-infos">
            <%= link_to content_tag(:span), kot_path(kot) %>
            <p><%= kot.addresse %></p>
            <p><%= kot.type_kot %> ○ <%= kot.quartier %> ○ <%= kot.recovery_date %></p>
          </div>
        </div>
      <% end %>
  </div>

  <% if @kots == [] %>
    <div class="diviseur-kots">
      <p>Aucun logement ne correspond à vos critères 😢</p>
    </div>
  <% end %>

</div>
<script>

  initSlides()

  function showSlides(a, e) {
    var i;
    var kot = document.getElementById(e)
    var x = parseInt(kot.dataset.index, 10);
    var n = x += a
    var slides = kot.getElementsByClassName("mySlides");
    if (n > slides.length) {n = 1}
    if (n < 1) {n = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slides[n-1].style.display = "block";
    kot.setAttribute('data-index', n)
  }

  function initSlides() {
    var cards = document.getElementsByClassName("card-pictures")
    for(let i = 0; i < cards.length; i++) {
      var kot = document.getElementById(i)
      var slides = kot.getElementsByClassName("mySlides");
      // slides.style.display = "block"
      if (slides.length > 0) { slides[0].style.display = "block" }
    }
  }

  function showFilters() {
    var filters = document.getElementById("additional-filters")
    if (filters.style.display == "block"){
      filters.style.display = "none"
    } else if (filters.style.display == "none") {
      filters.style.display = "block"
    }
  }

  function showMap() {
    var map = document.getElementById("map")
    var map_photo = document.getElementById("map-photo")
    map_photo.style.display = "none"
    map.style.display = "block"
  }

  function showPrice() {
    var filters = document.getElementById("price-card")
    if (filters.style.display == "block"){
      filters.style.display = "none"
    } else if (filters.style.display == "none") {
      filters.style.display = "block"
    }
  }
</script>


















<div class="footer">
  <div>
    <p style="font-weight:bold">Contactez-nous</p>
    <p>KotVid</p>
    <p>Plateforme de partage de photos de kot sur Louvain-la-Neuve</p>
    <p>Chausée de Boondael, n° 447, Ixelles 1050, Belgium</p>
    <p>Email: kotvidlln@gmail.com</p>
    <p>Téléphone: +32 492 63 87 10</p>
  </div>
</div>


<!-- <script>
var lowerSlider = document.querySelector('#lower'),
   upperSlider = document.querySelector('#upper'),
   lowerVal = parseInt(lowerSlider.value);
   upperVal = parseInt(upperSlider.value);

upperSlider.oninput = function() {
   lowerVal = parseInt(lowerSlider.value);
   upperVal = parseInt(upperSlider.value);

   if (upperVal < lowerVal + 4) {
      lowerSlider.value = upperVal - 4;

      if (lowerVal == lowerSlider.min) {
         upperSlider.value = 4;
      }
   }
};
<<<<<<< HEAD

=======
>>>>>>> dda9854fdee1e45c076a9bcdf9fe4807dd48725a

lowerSlider.oninput = function() {
   lowerVal = parseInt(lowerSlider.value);
   upperVal = parseInt(upperSlider.value);

<<<<<<< HEAD
   if (lowerVal > upperVal - 4) {
      upperSlider.value = lowerVal + 4;
=======
lowerSlider.oninput = function() {
   lowerVal = parseInt(lowerSlider.value);
   upperVal = parseInt(upperSlider.value);

   if (lowerVal > upperVal - 4) {
      upperSlider.value = lowerVal + 4;

      if (upperVal == upperSlider.max) {
         lowerSlider.value = parseInt(upperSlider.max) - 4;
      }

   }
};

</script>

>>>>>>> dda9854fdee1e45c076a9bcdf9fe4807dd48725a

      if (upperVal == upperSlider.max) {
         lowerSlider.value = parseInt(upperSlider.max) - 4;
      }

   }
};

</script>


 -->
