<div class="banner">
  <div class="parent">
    <div>
    <img class="logo"src="logo_rond.png" alt="logo kotvid">
    </div>
    <div class="banner-titre">
      <h1>Bienvenue sur KotVid</h1>
    </div>

    <div class="banner-bouton">
      <h3>Tu veux rendre service à la communauté ? </br><%= link_to "Ajoute ton kot", new_kot_path, class: 'btn_link btn-ghost' %></h3>
    </div>

    <div class="searchbar">
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-index">
          <div class="search-index-haut">
            <select placeholder="Quartier" name="search[quartier_search]" id="search_quartier_search">
                <option value="" disabled selected>Quartier</option>
                <option value="Biéreau">Biéreau</option>
                <option value="Lauzelle">Lauzelle</option>
                <option value="Hocaille">Hocaille</option>
                <option value="Centre">Centre</option>
                <option value="Bruyères">Bruyères</option>
            </select>

            <select placeholder="Type de kot" name="search[type_kot_search]" id="search_type_kot_search">
                <option value="" disabled selected>Type de logement</option>
                <option value="Kot UCL">Kot UCL</option>
                <option value="Kot privé">Kot privé</option>
                <option value="Appartement">Appartement</option>
                <option value="Studio">Studio</option>
            </select>
            </div>
            <div class="search-index-milieu">
              <input placeholder="Addresse complète" type="text" name="search[location_search]" id="search_location_search">
            </div>
            <div class="search-index-bas">
              <input type="submit" name="commit" class="btn-ghost none" value="🔍 Rechercher" data-disable-with="🔍 Rechercher">
            </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="kot-index-list">
  <% if @kots %>
    <% @kots.each do |kot| %>
      <div class="kot-index-card blue-card">
        <%= link_to content_tag(:span), kot_path(kot) %>
        <div class="kot-index-card-left">
          <div class="kot-index-card-left-top">
            <p><%= kot.addresse %></p>
            <p><%= kot.agence %></p>
          </div>
          <div class="kot-index-card-left-bottom">
            <% if kot.quartier != nil %>
              <p>Quartier: <%= kot.quartier %></p>
            <% end %>
            <% if kot.type_kot != nil %>
              <p><%= kot.type_kot %></p>
            <% end %>
            <% if kot.nombre_chambres != nil %>
              <p>Commu de <%= kot.nombre_chambres %> personnes</p>
            <% end %>
          </div>
        </div>
        <div class="kot-index-card-right">
          <p class="nombre-photos"><%= kot.photos.count %></p>
          <p><i class="fas fa-camera nav-link-index"></i></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="diviseur-kots">
    <div class="horizontal-line"></div>
    <p>Logements qui ne sont plus disponibles</p>
  </div>

  <% if @kots_indisponibles %>
    <% @kots_indisponibles.each do |kot| %>
      <div class="kot-index-card red-card">
        <%= link_to content_tag(:span), kot_path(kot) %>
        <div class="kot-index-card-left">
          <div class="kot-index-card-left-top">
            <p><%= kot.addresse %></p>
            <p><%= kot.agence %></p>
          </div>
          <div class="kot-index-card-left-bottom">
            <% if kot.quartier != nil %>
              <p>Quartier: <%= kot.quartier %></p>
            <% end %>
            <% if kot.type_kot != nil %>
              <p><%= kot.type_kot %></p>
            <% end %>
            <% if kot.nombre_chambres != nil %>
              <p>Commu de <%= kot.nombre_chambres %> personnes</p>
            <% end %>
          </div>
        </div>
        <div class="kot-index-card-right">
          <p class="nombre-photos"><%= kot.photos.count %></p>
          <p><i class="fas fa-camera nav-link-index"></i></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @kots_triés %>
    <% @kots_triés.each do |kot| %>
      <% if kot.disponible == false %>
        <div class="kot-index-card red-card">
          <%= link_to content_tag(:span), kot_path(kot) %>
          <div class="kot-index-card-left">
            <div class="kot-index-card-left-top">
              <p><%= kot.addresse %></p>
              <p><%= kot.agence %></p>
            </div>
            <div class="kot-index-card-left-bottom">
              <% if kot.quartier != nil %>
                <p>Quartier: <%= kot.quartier %></p>
              <% end %>
              <% if kot.type_kot != nil %>
                <p><%= kot.type_kot %></p>
              <% end %>
              <% if kot.nombre_chambres != nil %>
                <p>Commu de <%= kot.nombre_chambres %> personnes</p>
              <% end %>
            </div>
          </div>
          <div class="kot-index-card-right">
            <p class="nombre-photos"><%= kot.photos.count %></p>
            <p><i class="fas fa-camera nav-link-index"></i></p>
          </div>
        </div>
      <% else %>
        <div class="kot-index-card blue-card">
          <%= link_to content_tag(:span), kot_path(kot) %>
          <div class="kot-index-card-left">
            <div class="kot-index-card-left-top">
              <p><%= kot.addresse %></p>
              <p><%= kot.agence %></p>
            </div>
            <div class="kot-index-card-left-bottom">
              <% if kot.quartier != nil %>
                <p>Quartier: <%= kot.quartier %></p>
              <% end %>
              <% if kot.type_kot != nil %>
                <p><%= kot.type_kot %></p>
              <% end %>
              <% if kot.nombre_chambres != nil %>
                <p>Commu de <%= kot.nombre_chambres %> personnes</p>
              <% end %>
            </div>
          </div>
          <div class="kot-index-card-right">
            <p class="nombre-photos"><%= kot.photos.count %></p>
            <p><i class="fas fa-camera nav-link-index"></i></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<div class="footer">
  <div>
    <p style="font-weight:bold">Contactez-nous</p>
    <p>KotVid</p>
    <p>Plateforme de partage de photos de kot sur Louvain-la-Neuve</p>
    <p>Chausée de Boondael, n° 447, Ixelles 1050, Belgium</p>
    <p>Email: kotvidlln@gmail.com</p>
    <p>Téléphone: +32 492 63 87 10</p>
  </div>
</div>







