<ul>
  <% @kots.each do |kot| %>
    <li><%= kot.addresse %></li>
    <li><%= link_to "Détails", kot_path(kot) %></li>
  <% end %>
</ul>

<h2>Tu veux rendre serice à la communauté ? <%= link_to "Ajoutes ton kot", new_kot_path %></h2>

<!-- <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV[] %>"></div>
 -->
