
<div id='sign-up-form'>
<h2>Ajoute ton kot!</h2>
  <% if user_signed_in? %>
    <form class="simple_form new_kot" id="new_kot" novalidate="novalidate" enctype="multipart/form-data" action="/kots" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-inputs">
          <input value="<%= current_user.id %>" type="hidden" name="kot[user_id]" id="kot_user_id">
          <input value="true" type="hidden" name="kot[disponible]" id="kot_disponible_true">
        <div class="label">
          <label class="string optional" for="kot_adresse">Adresse</label>
        </div>
        <div class="field">
          <input placeholder="Rue de la Citronnelle 07/000 - 1348 Louvain-la-Neuve" class="connection-input" type="text" name="kot[addresse]" id="kot_addresse">
        </div>
        <div class="label">
          <label class="string optional" for="kot_quartier_">Quartier</label>
        </div>
        <div class="field">
          <select type="text" name="kot[quartier]" id="kot_quartier" class="connection-input">
            <option value="Biéreau">Biéreau</option>
            <option value="Lauzelle">Lauzelle</option>
            <option value="Hocaille">Hocaille</option>
            <option value="Centre">Centre</option>
            <option value="Bruyères">Bruyères</option>
          </select>
        </div>
        <div class="label">
          <label class="string optional" for="kot_type_kot">Type de logement</label>
        </div>
        <div class="field">
          <select class="connection-input" type="text" name="kot[type_kot]" id="kot_type_kot">
            <option value="Kot">Kot / Coloc</option>
            <option value="Studio">Studio</option>
            <option value="Appartement">Appartement</option>
          </select>
        </div>
        <div class="label">
          <label class="integer optional" for="kot_nombre_chambres">Nombre de personnes dans la colocation</label>
        </div>
        <div class="field">
          <input class="connection-input" type="number" name="kot[nombre_chambres]" id="kot_nombre_chambres">
        </div>
        <div class="label">
          <label class="integer optional" for="kot_price">Loyer charges incluses</label>
        </div>
        <div class="field">
          <input class="connection-input" type="number" name="kot[price]" id="kot_price">
        </div>
        <div class="label">
          <label class="string optional" for="kot_recovery_date">Disponible le</label>
        </div>
        <div class="field">
          <input class="connection-input" type="text" name="kot[recovery_date]" id="kot_recovery_date">
        </div>
        <div class="label">
          <label class="string optional" for="kot_propriétaire">Propriétaire</label>
        </div>
        <div class="field">
          <input class="connection-input" type="text" name="kot[agence]" id="kot_agence" value="<%= current_user.name %>">
        </div>
        <div class="label">
          <label class="string optional" for="kot_email">Email</label>
        </div>
        <div class="field">
          <input class="connection-input" type="text" name="kot[email]" id="kot_email" value="<%= current_user.email %>">
        </div>
        <div class="label">
          <label class="string optional" for="kot_phone">Téléphonne</label>
        </div>
        <div class="field">
          <input class="connection-input" type="text" name="kot[phone]" id="kot_phone" value="<%= current_user.phone %>">
        </div>

        <!-- <legend class="col-form-label pt-0">Disponible</legend>
        <fieldset class="form-group radio_buttons optional kot_disponible">
          <input type="hidden" name="kot[disponible]" value="">
          <div class="radio-buttons">
            <div class="form-check">
              <input class="form-check-input radio_buttons optional" type="radio" value="true" name="kot[disponible]" id="kot_disponible_true">
              <label class="form-check-label collection_radio_buttons" for="kot_disponible_true">Oui</label>
            </div>
            <div class="form-check">
              <input class="form-check-input radio_buttons optional" readonly="readonly" type="radio" value="false" name="kot[disponible]" id="kot_disponible_false">
              <label class="form-check-label collection_radio_buttons" for="kot_disponible_false">Non</label>
            </div>
          </div>
        </fieldset> -->

        <div class="label">
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos photo-input"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos photo-input"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos photo-input"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="field">
          <div class="form-group file optional kot_photos photo-input"><label class="file optional" for="kot_photos">Photos</label><input class="form-control-file file optional" multiple="multiple" type="file" name="kot[photos][]" id="kot_photos"></div>
        </div>
        <div class="form-actions">
          <input type="submit" name="commit" value="Ajouter" class="btn ajouter" data-disable-with="Ajouter">
        </div>
      </div>
    </form>
  <% else %>
    <p class="etre-connecte">Vous devez être connecté pour ajouter un kot 😢</p>
    <div class="btn-etre-connecte">
      <%= link_to "Se connecter", new_user_session_path, class: "active btn ajouter" %>
    </div>
  <% end %>
</div>









