<div id='sign-up-form'>
<h2>Ajoutes ton kot!</h2>
<% if user_signed_in? %>


<%= simple_form_for(@kot) do |f| %>
<div class="input-new">
  <%= f.label :addresse %>
  <%= f.text_field :addresse %>
</div>
<div class="input-new">
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label :prix %>
  <%= f.text_field :prix %>
</div>
<div class="input-new">
  <%= f.label :quartier %>
  <%= f.text_field :quartier, list: 'quartiers' %>
  <datalist id="quartiers">
    <option value="Biéreau">
    <option value="Lauzelle">
    <option value="Hocaille">
    <option value="Centre">
    <option value="Bruyères">
  </datalist>
</div>
<div class="input-new">
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "Ajouter" %>
</div>
<% end %>



<% else %>
<p>Vous devez être connecté pour ajouter un kot ou modifier un kot existant</p>
<%= link_to "Se connecter", new_user_session_path, class: "active" %>
<% end %>

</div>
