<h2><%= @kot.addresse %></h2>
<p><%= @kot.agence %></p>
<p><%= @kot.quartier %></p>
<p><%= @kot.nombre_chambres %></p>
<p><%= link_to "Revenir à tous les kots", root_path %></p>
<% if current_user %>
  <% if @kot.user_id == current_user.id || current_user.id == 1 || current_user.id == 2 || current_user.id == 3 %>
    <td class="tdkot"><%= link_to "Modifier", edit_kot_path(@kot), :method => :patch %></td>
    <td class="tdkot"><%= link_to 'Supprimer', kot_path(@kot), data: {:confirm => 'Etes-vous sûr ?'}, :method => :delete %></td>
  <% end %>
<% end %>

<div class="kot_photos">
<% @kot.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</div>
