<div class="searchbar2">

	<div class="flex">
    <div class="flex-left">
		<%= link_to '<i class="fas fa-caret-square-left"></i>'.html_safe, root_path, class: 'nav-link' %>
		<h2 class="adresse_titre">Adresse : <%= @kot.addresse %></h2>
    </div>
    <div class="flex-right">
      <% if current_user %>
        <% if @kot.user_id == current_user.id || current_user.id == 1 || current_user.id == 2 || current_user.id == 3 %>
        <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_kot_path %></td>
        <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, kot_path(@kot), data: {:confirm => 'Supprimer ce kot ?'}, :method => :delete %></td>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="info-box">
    <div class="info-box-haut">
      <div>
      <p class="blue-title">Type:</p>
      <p><%= @kot.type_kot %></p>
      </div>
      <div>
      <p class="blue-title">Quartier:</p>
      <p><%= @kot.quartier %></p>
      </div>
      <div>
      <p class="blue-title">Propriétaire:</p>
      <p><%= @kot.agence %></p>
      <p><%= @kot.email %></p>
      <p><%= @kot.phone %></p>
      </div>
    </div>
    <div class="info-box-bas">
      <div>
      <p class="blue-title">Loyer indicatif:</p>
      <p><%= @kot.price %> € ch. comp.</p>
      </div>
      <div>
      <p class="blue-title">Disponible:</p>
      <p><%= @kot.recovery_date %></p>
      </div>
      <div>
      <p class="blue-title">Nb chambres commu:</p>
      <p><%= @kot.nombre_chambres %></p>
      </div>
    </div>
  </div>


<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>


<!-- Slideshow container -->
<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
    <% @kot.photos.each_with_index do |photo, index| %>
      <div class="mySlides fade">
      <div class="numbertext"><%= index + 1 %> / <%= @kot.photos.count %></div>
    <%= cl_image_tag photo.key, class: 'big-image' %>
      <!-- <img src="img1.jpg" style="width:100%">
      <div class="text">Caption Text</div> -->
  </div>
    <% end %>
  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <% @kot.photos.count.times do %>
  <span class="dot" onclick="currentSlide(1)"></span>
  <% end %>
</div>

</div>


