<!DOCTYPE html>
<html>
  <head>
    <title>Kotvid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="https://image.flaticon.com/icons/png/512/64/64431.png" type="image/png">

    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>

    <div class="topnav">
      <%= link_to "Trouves ton kot", root_path, class: "active" %>
      <%= link_to "Ajoutes ton kot", new_kot_path, class: "active" %>
      <%= link_to "Créer un compte/Se connecter", new_user_session_path, class: "active" %>
    </div>



    <%= yield %>
    <h1>Salut les copains</h1>
  </body>
</html>
